html { height: 100%;
  overflow-x: hidden;
  max-width: 100vw;
}
.login {
  display: flex;
  flex-direction: column;
  background: white ;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: auto;
  padding-bottom: 30px;
  margin: 20px auto 0;
  width: 298px;
  margin-bottom: 14%;
  margin-top:5%;
  align-content: center;

  -webkit-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
}
input[type="password"], input[type="text"] {
  outline: none;
  justify-self: center;
  box-sizing: border-box;
  font-family: Raleway;
  font-size:16px;
  font-weight:bold;
  color: black;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 12px;
  width: 240px;
  border-width: 1;
  background-color: #F3F3F3;
  transition: transform 0.1s ease-in-out;
}

input[type="text"]:focus{
  border-style: solid;
  border-width: 1px;
  transform: scale(1.5);

  -webkit-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
}

input[type="password"]:focus{
  transform: scale(1.5);
  border-style: solid;
  border-width: 1px;

  -webkit-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 60px 6px rgba(0,0,0,0.75);
}

input[type="checkbox"] {
  cursor: pointer;
  height: 16px;
  opacity: 0;
  position: relative;
  width: 64px;
}
input[type="checkbox"]:checked {
  left: 29px;
  width: 58px;
}


.wrapper {
  background-color: rgba(0,0,0,0);
  transform: translateY(2em);
  padding-bottom: 0;
  height: 90vh;
}

input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
.forgot {
  margin-top: 1em;
  color: black;
  display: inline-block;
  font: 12px/1 sans-serif;
  position: relative;
  left: 180px;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}
.forgot:hover { color: #3b3b3b }
input[id="submit"] {
  width:240px;
  height:35px;
  display:block;
  background-color: #e8a43f;
  font-family: Raleway;
  font-size:16px;
  font-weight:bold;
  color: black;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;
  border: 1px solid #42464b;
  border-radius: 6px;
}
.forgot:hover { color: #3b3b3b }
input[id="submit2"] {
  width:240px;
  height:35px;
  display:block;
  background-color: #ecb45d2b;
  font-family: Raleway;
  font-size:16px;
  font-weight:bold;
  color: black;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;
  border: 1px solid #42464b;
  border-radius: 6px;
}
.errorMessage{
  padding: 20px 10px 10px 10px;
  background-color: #fcdfd9;
  border-color: #ff8c75;
  border-style: solid;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.errorMessage:empty{
  display: none;
}
html{
  width: 100vw;
  background-image: url("../images/monochrome.jpg");
  background-size: cover;
}
body{
  height: 105%;
  background-color: rgba(0,0,0,0);
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  height: 105vh;
  transform: translatey(-5em);
  width: 100vw;
  background-size: cover;
  transition: margin-top ease-in-out 0.2s;
}
.footer{
    background-color: #0A0702;
    position: relative;
    height: 3em;
    margin-top: -3em;
    clear: both;
    bottom: 0;
  }
  @media screen and (max-width: 375px) {
    #navHamburger{
      display: none;
    }
    input[type="text"]:focus{
      border-style: solid;
      border-width: 1px;
      transform: scale(1.45);
    }

    input[type="password"]:focus{
      transform: scale(1.45);
      border-style: solid;
      border-width: 1px;
    }

  }
